<h1>Quadro</h1>
<a href="/auth/twitter" class="twitter_button">Sign in with Twitter</a>
<p class="counting"><em><%= Quadro.stickies %> notes</em> over <em><%= Quadro.boards %> boards</em> stored right now.</p><br/>
<p class="sponsor">We are looking for sponsors, please <a href="mailto:me@rainerborene.com">get in touch</a> if you're interested.</p>
