<li data-color="yellow">Yellow</li>
<li data-color="blue">Blue</li>
<li data-color="green">Green</li>
<li data-color="pink">Pink</li>
<li data-color="purple">Purple</li>
<li data-color="gray">Gray</li>
