/**
 * Boards
 */

.board_title
  position: fixed
  width: 200px
  text-align: center
  top: 0px
  left: 50%
  margin-left: -100px
  line-height: 32px
  height: 32px
  font-weight: bold
  z-index: 999
  +ellipsis

.boards-items
  width: 288px
  height: 200px
  background: #fff
  border: 1px solid #ccc
  overflow-y: scroll
  overflow-x: hidden

  li
    padding: 0px 10px 
    margin-left: 0px !important
    line-height: 21px
    text-shadow: none
    text-decoration: none
    color: #333
  
    &.selected
      background: #3272db
      color: #fff

.remove_item
  display: none
  width: 21px
  height: 20px
  background: image-url("destroy.png") no-repeat left top
  text-indent: -9999px
  overflow: hidden
  float: right
  outline: none
  
  &:hover
    background-position: 0px -20px

/**
 * Icons
 */

.open-icon
  padding-left: 32px !important
  background: #f3f3f3 image-url("blue-folder.png") no-repeat 10px center !important

.new-icon
  padding-left: 32px !important
  background: #f3f3f3 image-url("plus_circle.png") no-repeat 10px center !important

.remove-icon
  padding-left: 32px !important
  background: #f3f3f3 image-url("cross_circle_frame.png") no-repeat 10px center !important
