/**
 * Boards
 */

$boards_width: 422px
$boards_height: 380px

.board_title
  position: fixed
  width: 200px
  text-align: center
  top: 0px
  left: 50%
  margin-left: -100px
  line-height: 32px
  height: 32px
  font-weight: bold
  z-index: 999
  +ellipsis

.boards_window
  .ui-widget-overlay
    width: 100%
    height: 100%
    opacity: 0.8

  .ui-widget-overlay, .ui-widget-shadow, .ui-widget
    z-index: 1000

  .ui-widget, .ui-widget-shadow
    position: absolute
    width: $boards_width
    height: $boards_height
    top: 120px
    left: 50%
    margin-left: -211px

  .ui-widget
    background-color: #F7F7F7
    margin-left: (($boards_width / 2) - 8) * -1
    border: 0px

  .ui-dialog-content
    background: none
    border: 0px

  h3
    font-size: 18px
    text-shadow: #fff 0px 1px 0px
    padding: 15px
    color: #000
    border-bottom: 1px solid #999
    +background(linear-gradient(#efefef, #fff 2%, #ccc))

  ul
    height: 328px
    overflow-y: scroll

    li
      padding: 15px
      border-bottom: 1px solid #D1D1D1

      &:hover a.destroy_board
        display: inline-block

  .open_board
    color: #0B486B
    font-weight: bold
    text-decoration: none
    
    &:hover
      color: #777

  .new_board
    +replace-text-with-dimensions("add.png", 0px, 0px)
    margin-right: 14px
    float: right

.remove_item
  display: none
  width: 21px
  height: 20px
  background: image-url("destroy.png") no-repeat left top
  text-indent: -9999px
  overflow: hidden
  float: right
  outline: none
  
  &:hover
    background-position: 0px -20px
