<div class="user-item" data-id="<%= item.id %>">
  <img src="<%= item.profile_image %>" width="20" height="20" /> <%= item.name %>
  <button class="btn danger delete-collaboration">Delete</button>
</div>
